{% load static %}
<header id="header" class="header dark-background d-flex flex-column justify-content-center">
  <i class="header-toggle d-xl-none bi bi-list"></i>

  <div class="header-container d-flex flex-column align-items-start">
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
        <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Services</a></li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>

    </nav>


    <div class="social-links text-center">
      {% for link in social_links %}
      <a href="{{ link.url }}" class="{{ link.name|lower }}">
        <i class="{{ link.icon_class }}"></i>
      </a>
      {% endfor %}
    </div>

  </div>
</header>